/****** Object:  UserDefinedTableType [dbo].[split_needidattribute]    Script Date: 10/11/2018 12:16:26 PM ******/
CREATE TYPE [dbo].[split_needidattribute] AS TABLE(
	[attributeid] [int] NULL,
	[attributevalueid] [int] NULL
)
GO
