/****** Object:  Table [dbo].[adpost_proc_param]    Script Date: 10/11/2018 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adpost_proc_param](
	[contentid] [int] IDENTITY(1,1) NOT NULL,
	[adid] [bigint] NULL,
	[projectid] [int] NULL,
	[businessid] [int] NULL,
	[customerid] [int] NULL,
	[campaignid] [int] NULL,
	[cityid] [int] NULL,
	[cityname] [varchar](64) NULL,
	[localityid] [int] NULL,
	[localityname] [varchar](128) NULL,
	[categoryid] [int] NULL,
	[subcategoryid] [int] NULL,
	[parentneedid] [int] NULL,
	[NeedDefinitionId] [int] NULL,
	[lat] [float] NULL,
	[lng] [float] NULL,
	[formatted_address] [varchar](256) NULL,
	[postal_code] [varchar](8) NULL,
	[UserName] [varchar](128) NULL,
	[UserEmail] [varchar](128) NULL,
	[UserMobileNo] [varchar](16) NULL,
	[countrycode] [int] NULL,
	[custominfo] [nvarchar](max) NULL,
	[mode] [tinyint] NULL,
	[landingurl] [varchar](512) NULL,
	[currenturl] [varchar](512) NULL,
	[sourceurl] [varchar](512) NULL,
	[sourcekeyword] [varchar](128) NULL,
	[ip] [varchar](16) NULL,
	[UserDevice] [varchar](512) NULL,
	[devicetype] [varchar](128) NULL,
	[posteduserpid] [int] NULL,
	[UserPid] [int] NULL,
	[adtitle] [varchar](256) NULL,
	[shortdesc] [varchar](4096) NULL,
	[price] [money] NULL,
	[netsalevalue] [smallint] NULL,
	[status] [int] NULL,
	[hasduplicate] [bit] NULL,
	[duplicatelistingids] [varchar](500) NULL,
	[IsSuccess] [bit] NULL,
	[InsertedAdid] [int] NULL,
	[adstatus] [varchar](64) NULL,
	[redirecturl] [varchar](512) NULL,
	[actionstatus] [varchar](32) NULL,
	[expirydate] [datetime] NULL,
	[comments] [varchar](512) NULL,
	[tvp_needidattribute] [nvarchar](max) NULL,
	[tvp_images] [nvarchar](max) NULL,
	[crdate] [datetime] NULL,
	[startdate] [datetime] NULL,
	[enddate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[adpost_proc_param] ADD  DEFAULT (getdate()) FOR [crdate]
GO
