/****** Object:  StoredProcedure [dbo].[prc_list_adslistings]    Script Date: 10/11/2018 12:16:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[prc_list_adslistings]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[prc_list_adslistings] AS'
END
GO
Alter PROCEDURE PRC_LIST_ADSLISTINGS
@cityid INT,                                                        
@areaid INT=0,                                                        
@subcatid INT,                                                        
@addefid INT=0,                                                        
@needid INT=0,                                                        
@needidattributes VARCHAR(256)='',                                                        
@sortby VARCHAR(16)='',/*relevance ,recent ,low ,high ,ratesqftlow ,ratesqfthigh, img ,offers*/
@fromprice money=0,
@toprice money =0,
@RowsToFetch INT=10,                                                        
@PageNo INT=1 ,                                                        
@LocalityFilter VARCHAR(128) = '',                                                        
@CityFilter VARCHAR(64) = '',                                                        
@BrandFilter VARCHAR(512)='',                                                        
@ExcludeAdIds VARCHAR(1024) = '',
@IncludeSurroundingAreas BIT = 1,
@radius INT = 3,
@nearbyareacount tinyint =5,
@excludearea varchar(256)='',
@advpid int = 0,
@customerid int = 0,
@status int = -1,
@businessid int = 0,
@campaignid int = 0
AS                                                        
BEGIN                                                        
SET NOCOUNT ON    

BEGIN TRY

DECLARE @needidattribute split_needidattribute -- table(attributeid INT, attributevalueid INT)                                          
DECLARE @Adssorttable table(adid INT,needid INT,price money,row INT)                                          
DECLARE @Localityfiltertable split_localityfilter--table(areaid INT)                                          
DECLARE @attributevalueidcount INT = 0                                          
DECLARE @excludeadidtable split_adsid                          
DECLARE @cnt TINYINT=0     
DECLARE @advertisermobile VARCHAR(16)=''
DECLARE @isdashboard INT = 0

IF @advpid > 0 or @customerid > 0 or @businessid > 0 or @campaignid > 0
	SET @isdashboard = 1                                     

IF @isdashboard = 0
BEGIN
	SET @addefid = 0
	SET @needid = 0
END

IF ISNULL(@LocalityFilter,'') > '' AND @areaid > 0
	SET @areaid = 0 
                        
IF @areaid IS NULL                                            
	SET @areaid=0                                             
IF @needidattributes IS NULL                                          
	SET @needidattributes=''                                          
IF @ExcludeAdIds IS NULL                        
	SET @ExcludeAdIds=''    
                     
IF @needidattributes<>''                                          
BEGIN                                          
	INSERT INTO @needidattribute(attributeid,attributevalueid)                                          
	SELECT attributeid, attributevalueid FROM dbo.SplitAttributes(@needidattributes,',',':',';' )                                          
END                         
	
IF @needidattributes<>'' 
BEGIN              
	SELECT @cnt=COUNT(1) FROM @needidattribute                                             
	SELECT @attributevalueidcount=COUNT( DISTINCT attributevalueid) FROM @needidattribute               
END   
             

IF @LocalityFilter!=''                                          
BEGIN                                          
	INSERT INTO @Localityfiltertable                                          
	SELECT value FROM STRING_SPLIT(@LocalityFilter,',')   WHERE value > ''                                       
	DELETE FROM @Localityfiltertable WHERE areaid=0                                          
END    

                            
IF @ExcludeAdIds!=''                        
	INSERT INTO @excludeadidtable(adid)                        
	SELECT value FROM STRING_SPLIT(@ExcludeAdIds,',')   WHERE value > ''                          


CREATE TABLE #adid
(adid INT PRIMARY KEY WITH(IGNORE_DUP_KEY=ON),rowid INT
,score DECIMAL(5,1),mode INT,isnearby INT,netsalevalue SMALLINT)   
 
        
IF @sortby='' and @isdashboard = 1
		EXEC dbo.prc_list_customer_dashboardads @advpid=@advpid,
		@customerid=@customerid,@businessid=@businessid,@campaignid=@campaignid,
		@cityid=@cityid,@subcatid =@subcatid,@needid=@needid,@status=@status,
		@RowsToFetch=@RowsToFetch,@PageNo=@PageNo
ELSE IF @cityid = 0
		EXEC dbo.prc_list_ads_sortby_nocity @cityid =@cityid,@areaid =@areaid,                                  
		@Localityfiltertable=@Localityfiltertable,@subcatid =@subcatid,@addefid=@addefid,
		@needid=@needid,@needidattribute =@needidattribute,@sortby =@sortby,
		@fromprice=@fromprice,@toprice=@toprice,
		@RowsToFetch = @RowsToFetch,@PageNo = @PageNo,@excludeadidtable=@excludeadidtable,
		@IncludeSurroundingAreas=@IncludeSurroundingAreas,@radius=@radius,
		@nearbyareacount=@nearbyareacount,@excludearea=@excludearea 
ELSE IF @sortby='relevance' or @sortby=''
		EXEC dbo.prc_list_ads_sortby_relevance @cityid =@cityid,@areaid =@areaid,                                  
		@Localityfiltertable=@Localityfiltertable,@subcatid =@subcatid,@addefid=@addefid,
		@needid=@needid,@needidattribute =@needidattribute,@sortby =@sortby,
		@fromprice=@fromprice,@toprice=@toprice,
		@RowsToFetch = @RowsToFetch,@PageNo = @PageNo,@excludeadidtable=@excludeadidtable,
		@IncludeSurroundingAreas=@IncludeSurroundingAreas,@radius=@radius,
		@nearbyareacount=@nearbyareacount,@excludearea=@excludearea                               
ELSE IF @sortby='recent' 
		EXEC dbo.prc_list_ads_sortby_recent @cityid =@cityid,@areaid =@areaid,                                  
		@Localityfiltertable=@Localityfiltertable,@subcatid =@subcatid,@addefid=@addefid,
		@needid=@needid,@needidattribute =@needidattribute,@sortby =@sortby,
		@fromprice=@fromprice,@toprice=@toprice,
		@RowsToFetch = @RowsToFetch,@PageNo = @PageNo,@excludeadidtable=@excludeadidtable,
		@IncludeSurroundingAreas=@IncludeSurroundingAreas,@radius=@radius,
		@nearbyareacount=@nearbyareacount,@excludearea=@excludearea                                 
ELSE IF @sortby='img' 
		EXEC dbo.prc_list_ads_sortby_img @cityid =@cityid,@areaid =@areaid,                                  
		@Localityfiltertable=@Localityfiltertable,@subcatid =@subcatid,@addefid=@addefid,
		@needid=@needid,@needidattribute =@needidattribute,@sortby =@sortby,
		@fromprice=@fromprice,@toprice=@toprice,
		@RowsToFetch = @RowsToFetch,@PageNo = @PageNo,@excludeadidtable=@excludeadidtable,
		@IncludeSurroundingAreas=@IncludeSurroundingAreas,@radius=@radius,
		@nearbyareacount=@nearbyareacount,@excludearea=@excludearea  
ELSE IF @sortby='high' or @sortby='low'
		EXEC dbo.prc_list_ads_sortby_price @cityid =@cityid,@areaid =@areaid,                                  
		@Localityfiltertable=@Localityfiltertable,@subcatid =@subcatid,@addefid=@addefid,
		@needid=@needid,@needidattribute =@needidattribute,@sortby =@sortby,
		@fromprice=@fromprice,@toprice=@toprice,
		@RowsToFetch = @RowsToFetch,@PageNo = @PageNo,@excludeadidtable=@excludeadidtable,
		@IncludeSurroundingAreas=@IncludeSurroundingAreas,@radius=@radius,
		@nearbyareacount=@nearbyareacount,@excludearea=@excludearea  	                               

   

SELECT  ai.rowid,ad.adid,ad.projectid,ad.businessid,ad.cityname,ad.altcityname
		,ad.areaname,ad.altareaname,ad.admode,ad.adtitle,ad.adurl
		,ad.shortdesc,ad.price,ad.displayarea,ad.campaignid,ad.customerid
		,ad.latitude,ad.longitude,ad.streetname,ad.zipcode,ad.contactname
		,ad.emailid,ad.mobileno,ad.phoneno,ad.ctcphone,ad.landmark
		,ad.createddate,ad.modifieddate,ad.cityid,ad.areaid,ad.categoryid,ad.subcategoryid
		,ad.remarks,ad.countrycode,ad.subarea,ad.buildingname
		,ad.buildingno,ad.address,ad.paymentmode,ad.offer,ad.custominfo,ad.spadid,ai.isnearby
		,ai.netsalevalue,ad.status   
INTO	#TEMP
FROM	dbo.adsmaster ad (NOLOCK) INNER JOIN	#adid ai
ON		ad.adid	=	ai.adid


--Ads Listing
SELECT	t.adid adid,t.projectid,t.businessid,t.admode,t.adtitle,t.shortdesc shortdescription,t.price,
		t.campaignid,t.customerid,t.categoryid,t.subcategoryid,t.isnearby,t.custominfo,
		CASE 
			WHEN ISNULL(ts.position,0) = 1 THEN 'T'
			WHEN ISNULL(ts.position,0) > 0 THEN 'P' ELSE '' END bookingspot,
		t.createddate posteddate,
		'https://www.sulekha.com/'+t.adurl+'-' + convert(varchar,t.adid) + '-ad' adurl,
		t.netsalevalue,an.addefid,t.status
FROM	#TEMP t
	INNER JOIN	dbo.adsneedmapping an (NOLOCK) ON T.adid	=	an.adid
	LEFT JOIN dbo.topslot_listing ts (NOLOCK) on t.adid = ts.adid
ORDER	BY t.rowid	ASC


--Ads Address	--BusinessId,AreaUrl,LandMarkPrefix,Distance
SELECT	adid adid,buildingno,buildingname,streetname,subarea,areaid,areaname,cityname,
		zipcode,landmark,latitude,longitude		
FROM	#TEMP
ORDER	BY rowid	ASC

--Ads Contact	--BusinessId,DisplayContactNo,ContactTypeId,StdCode
SELECT	adid adid,contactname,mobileno 'ContactNo',phoneno 'DisplayPhoneNo',emailid Emailid,2 contacttypeid
FROM	#TEMP
ORDER	BY rowid	ASC

--Ads Media		--BusinessId ,Description,BusinessMediaType
SELECT  m.adid adid,replace(m.mediaurl,'http://','https://') mediaurl,m.mediacaption 'TagName'
FROM	#adid	T INNER JOIN dbo.adsmedia m (NOLOCK)
ON		T.adid	=	m.adid
ORDER	BY T.rowid	ASC


--Ads Needs		--BusinessId ,NeedName ,NeedUrl ,SubCategoryName  
SELECT	an.adid adid,an.needid,an.addefid 'ReferenceNeedId',an.subcategoryid,an.adclassification
FROM	#adid t INNER JOIN	dbo.adsneedmapping an (NOLOCK)
ON		T.adid	=	an.adid
ORDER	BY T.rowid	ASC


--Ads Attributes & Values
SELECT	a.adid adid,a.attributeid,a.attributevalueid
FROM	#adid T INNER JOIN	dbo.adssubcatattributemapping a (NOLOCK)
ON		T.adid	=	a.adid
ORDER BY T.rowid ASC



DROP	TABLE	#adid    
DROP	TABLE	#TEMP 

END TRY
BEGIN CATCH

	EXEC dbo.prc_insert_errorinfo

END CATCH
                                              
SET NOCOUNT OFF                                                   
END
GO
